In [1]:
import pandas as pd

In [2]:
raw_covid=pd.read_csv('covid-19-all.csv')

In [4]:
  #replacing the null values with zeroes
raw_covid['Confirmed'].fillna(0, inplace=True)
raw_covid['Recovered'].fillna(0, inplace=True)
raw_covid['Deaths'].fillna(0, inplace=True)
raw_covid['Date'].fillna(0, inplace=True)
raw_covid.fillna("Others", inplace=True)

In [7]:
raw_covid.head(1)

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
0,China,Anhui,31.8257,117.226,1.0,0.0,0.0,2020-01-22

In [10]:
data_gb=raw_covid.groupby(['Country/Region','Province/State','Date']).sum()

In [12]:
data_gb.head(10)

                                          Confirmed  Recovered  Deaths
Country/Region Province/State Date
Afghanistan    Others         2020-02-24        1.0        0.0     0.0
                              2020-02-25        1.0        0.0     0.0
                              2020-02-26        1.0        0.0     0.0
                              2020-02-27        1.0        0.0     0.0
                              2020-02-28        1.0        0.0     0.0
                              2020-02-29        1.0        0.0     0.0
                              2020-03-01        1.0        0.0     0.0
                              2020-03-02        1.0        0.0     0.0
                              2020-03-03        1.0        0.0     0.0
                              2020-03-04        1.0        0.0     0.0

In [9]:
#creating a csv file
data_gb.to_csv('covid_19_data.csv')

In [14]:
country_list=pd.read_csv('country-and-continent-codes-list-csv_csv.csv')
country_list.head()
#country_name=country_list['Country_Name']
#country_code=country_list['Two_Letter_Country_Code']
asia=[x.lower() for x in list(country_list[country_list['Continent_Name']=='Asia']['Country_Name'])]
europe=[x.lower() for x in list(country_list[country_list['Continent_Name']=='Europe']['Country_Name'])]
antarctica=[x.lower() for x in list(country_list[country_list['Continent_Name']=='Antartica']['Country_Name'])]
africa=[x.lower() for x in list(country_list[country_list['Continent_Name']=='Africa']['Country_Name'])]
North_America=[x.lower() for x in list(country_list[country_list['Continent_Name']=='North America']['Country_Name'])]
South_America=[x.lower() for x in list(country_list[country_list['Continent_Name']=='South America']['Country_Name'])]
Australia=[x.lower() for x in list(country_list[country_list['Continent_Name']=='Oceania']['Country_Name'])]

In [44]:
country_list[(country_list.Continent_Name =='South America') & (country_list['Country_Name']=='Argentina')].Continent_Code
###testing dataframe

10    SA
Name: Continent_Code, dtype: object

In [50]:
our_con_list=pd.read_csv('covid_19_data.csv')['Country/Region']

continents=[]
for country in our_con_list:
    if str(country).lower() in asia:
        continents.append('Asia')
    elif str(country).lower() in europe:
        continents.append('Europe')
    elif str(country).lower() in antarctica:
        continents.append('Antarctica')
    elif str(country).lower() in africa:
        continents.append('Africa')
    elif str(country).lower() in North_America:
        continents.append('North America')
    elif str(country).lower() in South_America:
        continents.append('South America')
    elif str(country).lower() in Australia:
        continents.append('Australia')
    else:
        continents.append('Others')
data_gb['Continents']=continents

data_gb.to_csv('covid_19_data.csv')   # adding continents to the original data

In [55]:
data_gb[data_gb.Continents=='Africa']

                                          Confirmed  Recovered  Deaths  \
Country/Region Province/State Date
Algeria        Others         2020-02-25        1.0        0.0     0.0
                              2020-02-26        1.0        0.0     0.0
                              2020-02-27        1.0        0.0     0.0
                              2020-02-28        1.0        0.0     0.0
                              2020-02-29        1.0        0.0     0.0
...                                             ...        ...     ...
Zimbabwe       Others         2020-04-06       10.0        0.0     1.0
                              2020-04-07       11.0        0.0     2.0
                              2020-04-08       11.0        0.0     3.0
                              2020-04-09       11.0        0.0     3.0
                              2020-04-10       13.0        0.0     3.0

                                         Continents
Country/Region Province/State Date
Algeria        Others         2020-02-25     Africa
                              2020-02-26     Africa
                              2020-02-27     Africa
                              2020-02-28     Africa
                              2020-02-29     Africa
...                                             ...
Zimbabwe       Others         2020-04-06     Africa
                              2020-04-07     Africa
                              2020-04-08     Africa
                              2020-04-09     Africa
                              2020-04-10     Africa

[1207 rows x 4 columns]